@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&family=Fira+Sans:wght@300;400&family=Fira+Mono:wght@400&display=swap');

* {
    padding: 0px;
    margin: 0px;
    font-family: "Fira Sans", "Fira Mono", monospace;
}

body.light-theme {
    background-color: #f8f8f8;
}
body.dark-theme {
    background-color: #1d1f21;
}

a {
    text-decoration: none;
}

.card {
    transition: .2s ease background;
}

.unselectable {
    user-select: none;
}

#global-container {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-bottom: 4em;
}

#minesweeper {
    font-family: 'Josefin Sans', monospace;
    font-weight: 300;
    font-size: 3.5rem;
}

.light-theme #minesweeper {
    color: #1d1f21;
}
.dark-theme #minesweeper {
    color: #ffffff;
}

#logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 4em 0em .5em 0em;
}

#logo {
    width: auto;
    height: 6rem;
    transition: .5s ease;
    margin-bottom: .5em;
}

.light-theme #logo, #logo:hover {
    filter: invert(100%);
}

.light-theme #logo:hover {
    filter: invert(0%);
}

#stage {
    align-content: center;
    margin-top: 64px;
}

#reset-button-card {
    grid-column: 1 / 7;
}
#reset-button-text {
    text-align: right;
}
#reset-button-text.glow-red {
    color: #ff6666;
}

#reset-button-text.glow-green {
    color: #66ff99;
}

#mine-counter-card {
    grid-column: 7 / 13;
}

#helptext-card {
    margin: 0;
    padding: 0;
}

.grid-row {
    text-align: center;
    height: 36px;
}

.grid-cell {
    display: inline-block;
    font-family: "Fira Mono", monospace;
    height: 32px;
    width: 32px;
    margin: 2px;
    text-align: center;
    vertical-align: middle;
    line-height: 32px;
    background: #ffffff;
    transition: .2s ease-out background;
}

.light-theme .grid-cell {
    outline: 1px solid #bbbbbb;
}

.grid-cell:hover {
    background: #cccccc;
}

.grid-cell.revealed {
    background: #aaaaaa;
}

.grid-cell.revealed:hover {
    background: #bbbbbb;
}

.grid-cell.flagged, .grid-cell-mine.flagged.revealed {
    background: #66ff99;
}

.grid-cell.flagged:hover, .grid-cell-mine.flagged.revealed:hover {
    background: #66ff66;
}

.grid-cell-mine.revealed {
    background: #ff6666;
}

.grid-cell-mine.revealed:hover {
    background: #ff0000;
}

@media only screen and (max-width: 600px) {
    #minesweeper {
        font-size: 3rem;
    }
    #logo-container {
        font-size: 2rem;
        margin: 1em 0em .5em 0em;
    }
}

